# Virtual environment
inventory/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Test cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db